body {
    background-color : transparent;
}

.popover.top {
    width: 210px;
    height: 55px;
    margin-left: 5px;
    display: block;
    margin-top: 0;
}

.popover{
  left: 24px;
}

.popover-body{
  padding-top: 0.3rem;
  padding-right:  0.75rem;
  padding-bottom: 0.3rem;
  padding-left: 0.75rem;
      width: 200px;
}

#arrow{
  left: 82px;
}

.popover-content {
    padding: 5px;
}

.progress {
    width: 170px;
    margin-bottom: 0;
    height: 41px;
}

.progress-bar {
    width: 100%;
}

#infoButton {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 20px;
    height: 20px;
    padding: 0;
}

#infoIcon {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 6px;
}

.float-right {
    margin-right: 28px;
}

h6 {
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 12px;
}
