.container {
    margin-left: 0px;
    width: 440px;
}

a:hover {
    color: #428bca;
    text-decoration: none !important;
}

body .modal-dialog {
    margin: 0px;
    width: 420px;
    overflow: hidden;
}



body {
  font-size: .9rem;
}

#privateKeyQRCode {
    margin-left: 77px;
}

#qrcode {
    margin-left: 108px;
}

#settingsButton {
    margin-left: 288px;
}

#settingsMenu {
    margin-left: -115px;
}

.no-padding {
    margin: 0px;
    padding: 0px;
}

label {
    margin-bottom: 0.2rem;
    font-weight:bold;
}

form label{
  font-weight:bold;
}

.form-control {
  height: 32px;
  font-size: .9rem;
}

#sendConfirmationText,
#privateKeyText {
    word-wrap: break-word;
}

.card {
    margin-bottom: 0px;
    border: 0;


}

.dropdown-item{
      padding: .08rem .9rem;
}

.dropdown-menu{
      font-size: .9rem;
}

.card-footer{
  padding-left: 15px;
padding-right: 12px;
padding-top: 10px;
padding-bottom: 10px;
}


.card-body {
  padding-left: 15px;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
}

#cover {
    background: url("ajax-loader.gif") no-repeat scroll center center rgba(255,255,255,0.5);
    z-index: 2147483647;
    position: absolute;
    height: 100%;
    width: 100%;
}
