.container {
    margin-left: 0px;
    width: 440px;
}

a:hover {
    color: #428bca;
    text-decoration: none !important;
}

body .modal-dialog {
    margin: 0px;
    width: 440px;
    overflow: hidden;
}



body {
  font-size: .9rem;
}

#privateKeyQRCode {
    margin-left: 77px;
}

#qrcode {
    margin-left: 125px;
}

#settingsButton {
    margin-left: 288px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#settingsMenu {
    margin-left: -115px;
}

.h5, h5{
      font-size: .8rem;
}

p{
      margin-bottom: 0px;
}

.no-padding {
    margin: 0px;
    padding: 0px;
}

label {
    margin-bottom: 0.2rem;
    font-weight:bold;
}

form label{
  font-weight:bold;
}

.form-control {

  font-size: .9rem;
}

.input-group-append{
  height: 32px;
}

.btn{
  padding-bottom: 4px;
  padding-top: 4px;
}

#sendConfirmationText,
#privateKeyText {
    word-wrap: break-word;
}

.card {
    margin-bottom: 0px;
    border: 0;


}

input#address {
      height: 32px;
}

.dropdown-item{
      padding: .08rem .9rem;
      cursor: pointer;
}

.dropdown-menu{
      font-size: .9rem;
}

.card-footer{
  padding-left: 15px;
padding-right: 12px;
padding-top: 10px;
padding-bottom: 10px;
}


.card-body {
  padding-left: 15px;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
}

#cover {
    background: url("ajax-loader.gif") no-repeat scroll center center rgba(255,255,255,0.5);
    z-index: 2147483647;
    position: absolute;
    height: 100%;
    width: 100%;
}
