body {
    background-color : transparent;
}

.alert {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    width: 192px;
}

 .alert-success {
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 5px;
}

.btn-sm {
    width: 192px;
}

.popover {
    margin-left: 5px;
    display: block;
}

.popover-body{
  padding-top: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}

/* .popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: rgba(0,0,0,0.25);
    border-top-width: 0;
    border-width: 11px;


    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
} */

.popover-content {
    padding: 5px;
}

.popover.bottom {
    margin-top: 10px;
}

.progress {
    width: 156px;
    margin-bottom: 0px;
}

.progress-bar {
    width: 100%;
}
